body {
    background-image: linear-gradient(to right, ■#fef8ff, ■#d6feff);
}
header h1 {
    color:darkblue;
}
section p {
    line-height: 1.6;
}
ul li {
    margin-bottom: 8px;
}
footer {
    font-style: italic;
}